#Iris {
  animation: see 0.8s infinite alternate;
  animation-fill-mode: both;
  transform: translateY(4px);
}

@keyframes see {
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translate(-3px, 4px);
  }
}

#Code {
  animation: code 0.9s infinite linear alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes code {
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
}

#CodeLine * {
  animation: write 1s infinite linear alternate forwards;
  transform-origin: start;
  transform-box: fill-box;
}

#CodeLine line:nth-child(even) {
  animation-duration: 2s;
}

@keyframes write {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
}

#Head {
  animation: node 2s infinite linear alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes node {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(4deg);
  }
  66% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#Backdrop {
  animation: fade 0.6s linear;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes fade {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
